/* ホテル スイートルーム */

body{
  font-size: 13px;
  font-family: sans-serif;
  line-height: 2;
  color: #333;
  background-color: #f6f6f4;
}

.wrapper{
  width: 1017px;
  /* 上　左右　下 */
  margin: 40px auto 0px;
  overflow: hidden;
}

header{
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  width: 1065px;
  height: 36px;
}

header div ul{
  float: right;
  margin-right: 50px;
}

header div ul li:last-child{
  margin-right: 0;

}

header div ul li a:link,
header div ul li a:visited,
header div ul li a:hover{
  color: #700404;
  text-decoration: none;
}

.headerleft{
  float: left;
}

.headerright{
  width: 114px;
  float: right;
  color: #700404;
}

header h1{
  width: 153px;
  height: 66px;
  position:absolute;
  left: 48%;
  margin-left: -76px;
}


.menu ul li{
  float: left;
  width: 203px;
  height: 72px;
}


.menu1{
    background: url("../img/stay2.png") no-repeat;
}
.menu1 a {
    display: inline-block;
}
.menu1 a:hover img {
    visibility: hidden;
}

.menu2{
    background: url("../img/bar2.png") no-repeat;
}
.menu2 a {
    display: inline-block;
}
.menu2 a:hover img {
    visibility: hidden;
}

.menu3{
    background: url("../img/lest2.png") no-repeat;
}
.menu3 a {
    display: inline-block;
}
.menu3 a:hover img {
    visibility: hidden;
}

.menu4{
    background: url("../img/gallary2.png") no-repeat;
}
.menu4 a {
    display: inline-block;
}
.menu4 a:hover img {
    visibility: hidden;
}

.menu5{
    background: url("../img/access2.png") no-repeat;
}
.menu5 a {
    display: inline-block;
}
.menu5 a:hover img {
    visibility: hidden;
}


.pankuzu{
  font-size: 12px;
  width: 15em;
  margin-left: auto;
  color: #747474;
}

.pankuzu a{
color: #747474;
}

.pankuzu a:hover{
color: #c4c4c4;
}


.suite-eigo{
  margin-left: 380px;
  font-size: 26px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  letter-spacing: 2px;
  margin-top: 20px;
  font-weight:900;
}

.suite-katakana{
  width: 120px;
  font-size: 12px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
margin-top: -32px;
letter-spacing: 4px;
margin-left: 525px;
float:left;
margin-bottom: 20px;
}


h2{
  clear: both;
  letter-spacing: 5px;
  text-align: center;
  font-size: 26px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  margin-top: 80px;
  margin-bottom: 70px;
}


.suite_text{
  color: #000;
  font-size: 14px;
  line-height: 1.3;
  clear: both;
  text-align: center;
  margin-bottom: 30px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  letter-spacing: 3px;
  }

.smallroom_img li{
  float: left;
  width: 246px;
  height: 139px;
  margin-right: 10px;
  margin-top: 10px;
}

.smallroom_img li:last-child{
  margin-right: 0;

}

.ryoukin{
  font-weight:900;
  font-size: 18px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

.zeikomi{
  font-size: 14px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  float: right;
  margin-top: -32px;
}

.money{
  width: 260px;
  margin-top: 80px;
  margin-bottom: 20px;
}

table.room-syousai{
  width: 520px;
  border-collapse: collapse;
}

table.room-syousai th{
width: 25%;
text-align: left;
vertical-align: top;
color: #333;
background-color: #e5e5e5;
border: 1px solid #c8c8c8;
color: #757270;
font-weight:400;
padding: 7px 0px 7px 20px;
}

table.room-syousai td{
background-color: #f6f6f4;
border: 1px solid #c8c8c8;
color: #757270;
padding: 10px 0px 10px 20px;

}

table.room-syousai td.amenity{
letter-spacing: 1.1px;
}



.sarvice_text{
  padding-left: 1em;
}


.room-syousai{
  width: 500px;
  float: left;
}

.room-syousai td{
  line-height: 1.5;
}

.migi_block{
  width: 497px;
  height: 677px;
  float: right;
  margin-top: -50px;
}

.madori-osusume{
  margin-left: 50px;
}


.madori_text{
  font-size: 12px ;
  line-height: 15px;
  margin-left: 40px;
  color: #757270;
  margin-bottom: 50px;
  margin-top: 20px;
}

.hata_icon{
  float: left;
  margin-top: 5px;
}

.osusume_title{
  font-size: 18px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  color: #700404;
  font-weight: 900;
  float: right;
}

.osusume_text{
  color: #700404;
}

.osusume_text a:hover{
color: #c4c4c4;
}

.migi_block ul{
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 14px;
  clear: both;
}

.migi_block ul li a{
  color: #700404;
}


.osusume_midashi{
  width: 150px;
}

.yoyaku_button{
  text-align: right;
  margin-left: auto;
  margin-bottom: 70px;
}


.kyakuroom{
  margin-bottom: 100px;
}

.kyakuroom ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  font-weight: 900;
}

.kyakuroom ul li{
  width: 315px;
  height: 105px;
  overflow: hidden;
  float: left;
  margin-bottom: 35px;
  margin-right: 35px;
}


.kyakuroom ul li dl{
  width: 315px;
  height: 105px;
  background-color: #e5e5e5;
  overflow: hidden;
}

.kyakuroom ul li dl dt{
  width: 103px;
  height: 105px;
  float: left;
}

.kyakuroom ul li dl dd{
  width: 212px;
  height: 105px;
  float: right;
  padding: 40px 0;
  text-indent: 10px;
}

.kyakuroom ul li:nth-child(3){
  margin-right: 0;
  }

  .table{
      width: 650px;
      height: 120px;
      margin-left: 240px;
      margin-top: 10px;
      margin-bottom: -10px;
  }

p.border{
  margin-left: 210px;
  width: 610px;
  border-bottom: 1px solid #700404;
}

.form ul li{
    float: left;
    margin-right: 10px;
}

.form p{
    margin-bottom: -5px;
}


.select-box{
  border: 1px solid #9b9695;
  border-radius: 0px;
  color: #333;
  text-align: center;
  text-indent: 10px;
  width: 115px;
  height: 20px;
  padding: 0px 2px 2px 2px;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance:none;
  cursor: pointer;
  text-overflow: "";
  background: #dadad8 url(../img/yzrs4.png) no-repeat right;
}


.select-box2{
  border: 1px solid #9b9695;
  border-radius: 0px;
  color: #333;
  text-align: center;
  text-indent: 25px;
  width: 70px;
  height: 20px;
  padding: 0px 2px 2px 2px;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance:none;
  cursor: pointer;
  text-overflow: "";
  background: #dadad8 url(../img/yzrs4.png) no-repeat right;
}

.kensaku_midashi{
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  font-size: 14.5px;
}


.kensaku_button{
  margin-top: 15px;
}


p.glow1{
  font-size: 14.55px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  margin-bottom: 7px;
  text-indent: -0.8cm;
  font-weight:900;
}

.pagetop a{
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.pagetop {
  text-align: right;
  background: url(../img/yzrs3.png) right center no-repeat;
  margin-top: 50px;
}


.wrapper3{
  width: 1017px;
  /* 上　左右　下 */
  margin: 40px auto 0px;
  overflow: hidden;
}


footer{
background: url(../img/footbg.png);
background-repeat: repeat-x;
}

.sitemap{
  font-size: 10px;
  float:left;
  color: #c8c8c8;
  margin-right: 200px;
}


nav ul{
  overflow: hidden;
  margin-top: 50px;
}

footer a:link,
footer a:visited{
  color: #c8c8c8;
  text-decoration: none;
  line-height: 2.5;
}


footer nav ul li{
  font-size: 10px;
  font-family: Helvetica,Arial,sans-serif;
  float:left;
  margin-right: 90px;
  width: 230px;
}

footer nav ul li.danme{
  float: right;
  margin-right: 0;
  width: 110px;

}

footer nav ul li dl dd{
  padding-left: 10px;
  }


/* 採用情報とか */
div ul{
  margin-bottom: 0px;
  overflow: hidden;
}

nav ul li p{
  color: #c8c8c8;
  text-decoration: none;
  width: 230px;
  height: 25px;
  display: block;

}

.footernav{
  position:relative;
  width: 630px;
  margin: 0 auto;
  font-size: 10px;
  font-family: Helvetica,Arial,sans-serif;
  margin-top: 40px;
  color: #c8c8c8;
}

.footernav li{
  float:left;
}

.sns{
    margin-top: -3px;
}


footer p{
  font-size: 9px;
  color: #c8c8c8;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
