/* ホテル */

body{
  font-size: 13px;
  font-family: sans-serif;
  line-height: 2;
  color: #333;
  background-color: #f6f6f4;
}

.wrapper{
  width: 1017px;
  /* 上　左右　下 */
  margin: 40px auto 0px;
  overflow: hidden;
}

header{
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  width: 1065px;
  height: 36px;
}

header div ul{
  float: right;
  margin-right: 50px;
}

header div ul li:last-child{
  margin-right: 0;

}

header div ul li a:link,
header div ul li a:visited,
header div ul li a:hover{
  color: #700404;
  text-decoration: none;
}

.headerleft{
  float: left;
}

.headerright{
  width: 114px;
  float: right;
  color: #700404;
}

header h1{
  width: 153px;
  height: 66px;
  position:absolute;
  left:48%;
  top: 0;
  margin-left: -76px;
}


.menu ul li{
  float: left;
  width: 203px;
  height: 72px;
}

.menu1{
    background: url("../img/stay2.png") no-repeat;
}
.menu1 a {
    display: inline-block;
}
.menu1 a:hover img {
    visibility: hidden;
}

.menu2{
    background: url("../img/bar2.png") no-repeat;
}
.menu2 a {
    display: inline-block;
}
.menu2 a:hover img {
    visibility: hidden;
}

.menu3{
    background: url("../img/lest2.png") no-repeat;
}
.menu3 a {
    display: inline-block;
}
.menu3 a:hover img {
    visibility: hidden;
}

.menu4{
    background: url("../img/gallary2.png") no-repeat;
}
.menu4 a {
    display: inline-block;
}
.menu4 a:hover img {
    visibility: hidden;
}

.menu5{
    background: url("../img/access2.png") no-repeat;
}
.menu5 a {
    display: inline-block;
}
.menu5 a:hover img {
    visibility: hidden;
}


.pic {
        position:relative;
        overflow: hidden;
}
.form {
    position:absolute;
    z-index:100;
    top:460px;
    left: 250px;
}

.form ul li{
    float: left;
    margin-right: 10px;
}

.form p{
    margin-bottom: -5px;
}

.select-box{
  border: 1px solid #9b9695;
  border-radius: 0px;
  color: #333;
  text-align: center;
  text-indent: 10px;
  width: 115px;
  height: 20px;
  padding: 0px 2px 2px 2px;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance:none;
  cursor: pointer;
  text-overflow: "";
  background: #dadad8 url(../img/yzrs4.png) no-repeat right;
}


.select-box2{
  border: 1px solid #9b9695;
  border-radius: 0px;
  color: #333;
  text-align: center;
  text-indent: 25px;
  width: 70px;
  height: 20px;
  padding: 0px 2px 2px 2px;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance:none;
  cursor: pointer;
  text-overflow: "";
  background: #dadad8 url(../img/yzrs4.png) no-repeat right;
}



.kensaku_midashi{
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  font-size: 14.5px;
}

.kensaku_button{
  margin-top: 15px;
}


p.glow1{
  font-size: 14.55px;
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  margin-bottom: 7px;
  text-indent: -0.8cm;
}


p.glow1{
    text-shadow:0px 0px 8px #000 ,0px 0px 8px #000,
    0px 0px 8px #000,0px 0px 8px #000;
    color:#fff;
}

p.glow2{
    text-shadow:0px 0px 8px #000 ,0px 0px 8px #000,
    0px 0px 8px #000,0px 0px 8px #000;
    color:#fff;
}

h2{
  font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}


.hotel-copy{
  color: #000;
  font-size: 38px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 50px;
  letter-spacing: 10px;
  }

  .hotel_text{
    line-height: 22px;
  }

.shin{
  margin-bottom: 40px;
}

  .midashi{
    color: #000;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
    margin-top: 55px;
    }

  /* .shin dl dt{
  color: #747474;
  font-family:
  "ヒラギノ角ゴ ProN W3",
  "Hiragino Kaku Gothic ProN",
  "ＭＳ Ｐゴシック",
  "MS P Gothic",
  Verdana, Arial, Helvetica, sans-serif;
  padding-bottom: 0px;
  margin-top: 20px;
  } */

.shin dl dt{
  color: #747474;
  float:left;
  width: 95px;
  line-height: 32px;
}

.shin dl dd{
  float:right;
  width: 345px;
  text-decoration: underline;
  margin-right: 45px;
  line-height: 32px;
}


.subetenokizi{
  width: 10em;
  font-size: 9px;
  text-decoration: none;
  background: url(../img/yzrs.png) left center no-repeat;
  padding-left: 10px;
  clear: both;
  margin-left: 325px;
}

.subetenokizi a{
  text-decoration: none;
  color: #000;
}


.setumei{
  float: left;
  width: 510px;
  }

.shin{
  float: right;
  width: 490px;
}

.plan{
  clear:both;
  overflow: hidden;
}


.planbanner1{
  width: 490px;
  height: 238px;
  background-color: #700404;
  overflow: hidden;
  float: left;
  margin-bottom: 60px;
}

.planbanner2{
  width: 490px;
  height: 238px;
  background-color: #700404;
  overflow: hidden;
  float: right;
  margin-bottom: 60px;
}


section.plan a:link,
section.plan a:visited,
section.plan a:hover{
  color: #fff !important;
  text-decoration: none;
  display: block;
}

.planv{
  float: left;
  width: 249px;

}

.planmozi{
  float: right;
  width: 190px;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;
  line-height: 1.3;
  position: relative;
  left: -10px;
}

.plan_text{
  margin-top: 20px;
  position: relative;
  top: 0px;
  left: 5px;
}

p.kwsk1{
  width: 8em;
  margin-top: 25px;
  text-align: right;
  background: url(../img/yzrs2.png) left center no-repeat;
  margin-left: auto;
}

p.kwsk2{
  width: 8em;
  margin-top: 77px;
  text-align: right;
  background: url(../img/yzrs2.png) left center no-repeat;
  margin-left: auto;
}

.pickup{
  clear: both;
  overflow: hidden;
}

.pick1,.pick2,.pick3{
  overflow: hidden;
}


h3{
  color: #747474;
  font-size: 24px;
  float: left;
  font-family: 'Century';
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4{
  color: #747474;
  font-size: 10px;
  float: left;
  margin-top: 25px;
  margin-left: 6px;
  font-weight: 400;
}

p.pick_text{
  font-size: 12px;
  clear: both;
  line-height: 17px;
  width: 320px;
  letter-spacing: 0.5px;
}


.pick1{
  width: 320px;
  float: left;
  margin-bottom: 100px;
}
.pick2{
  margin-left: 28.5px;
  width: 320px;
  float: left;
  margin-bottom: 100px;
}
.pick3{
  width: 320px;
  float: right;
  margin-bottom: 100px;
}


footer{
background: url(../img/footbg.png);
background-repeat: repeat-x;
}

.sitemap{
  font-size: 10px;
  float:left;
  color: #c8c8c8;
  margin-right: 200px;
}


nav ul{
  overflow: hidden;
  margin-top: 50px;
}

footer a:link,
footer a:visited{
  color: #c8c8c8;
  text-decoration: none;
  line-height: 2.5;
}


footer nav ul li{
  font-size: 10px;
  font-family: Helvetica,Arial,sans-serif;
  float:left;
  margin-right: 90px;
  width: 230px;
}

footer nav ul li.danme{
  float: right;
  margin-right: 0;
  width: 110px;

}

footer nav ul li dl dd{
  padding-left: 10px;
  }


/* 採用情報とか */
div ul{
  margin-bottom: 0px;
  overflow: hidden;
}

.footernav{
  position:relative;
  width: 630px;
  margin: 0 auto;
  font-size: 10px;
  font-family: Helvetica,Arial,sans-serif;
  margin-top: 40px;
  color: #c8c8c8;
}

.footernav li{
  float:left;
}

.sns{
    margin-top: -3px;
}


footer p{
  font-size: 9px;
  color: #c8c8c8;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
