.top {
/* 	background: #212121; */
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
}

.drawer {
	-webkit-transform: translate3d(0, -141px, 0);
	-moz-transform: translate3d(0, -141px, 0);
	-o-transform: translate3d(0, -141px, 0);
	transform: translate3d(0, -141px, 0);
	-webkit-transition:-webkit-transform 0.25s linear;
	-moz-transition:-moz-transform 0.25s linear;
	-o-transition:-o-transform 0.25s linear;
	transition:transform 0.25s linear;
}

.drawer.active {
	-webkit-transform: translate3d(0,129px,0);
	-moz-transform: translate3d(0,129px,0);
	-o-transform: translate3d(0,129px,0);
	transform: translate3d(0,129px,0);
}


a.menu {
	position: absolute;
	z-index: 3;
	border:1px solid white;
	text-decoration: none;
	top: 1.6em;
	right: 1.6em;
	color: #fff;
	font-family: 'Avenir Next LT W01 Bold';
	text-transform: uppercase;
	font-size: 0.65em;
	padding: 0.4em 0.7em;
	border-radius: 4px;
}
a.menu span {
	font-size:1.6em;
	vertical-align: -0.15em;
}
nav2 ul {
list-style:none;
}
nav2 ul li a {
display: block;
text-decoration: none;
color: #333;
padding: 1em;
margin-bottom: 1px;
}

/* Fallbacks */

.no-csstransforms .top {
	position: static;
}

.no-csstransforms .drawer nav2 {
	display: none;
}

.no-csstransforms .drawer.active nav2 {
	display: block;
}

@media all and (min-width: 30em) {
	.experiment-number {
		float: left;
		margin-right: 0.9em;
		border-right: 1px solid;
		padding-right: 1em;
		padding-left: 0.9em;
		padding-bottom: 0.6em;
		margin-bottom: 0;
	}
	.drawer {
		-webkit-transform: translate3d(0, -197px, 0);
		-moz-transform: translate3d(0, -197px, 0);
		-o-transform: translate3d(0, -197px, 0);
		transform: translate3d(0, -197px, 0);
	}
	.drawer.active {
		-webkit-transform:translate3d(0,87px,0);
		-moz-transform:translate3d(0,87px,0);
		-o-transform:translate3d(0,87px,0);
		transform:translate3d(0,87px,0);
	}
	h1 {
		text-align: left;
	}
	.container {
		padding: 2.6em;
	}
}
